<!-- <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p> -->
<h1>Result</h1>
<%= @answer %>
<!-- <form action="new" method="get">
  <input type="text" name="word">
  <input type="submit" value="Play">
</form>
 -->
<p><%= link_to "Play again", new_path %></p>
